* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%)
}
.qrBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 0 auto;
    margin-top: 7%;
    width: 320px;
    height: 520px;
    border: 2px;
    border-radius: 20px;
}
.qrBox img{
    margin: 0 auto;
    margin-top: 18px;
    max-height: 55%;
    border-radius: 14px;
}
.qrBox h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0 auto; 
    width: 90%;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.qrBox p{
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto; 
    margin-bottom: 45px;
    width: 73%;
    text-align: center;
    color: hsl(220, 15%, 55%);
}